# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. GGPLOT

|Data Science Tools|
|-|
|Spark|
|Flink|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List popular tools for Data Science
* List expressions

## Author
Viki Zhang